body {
	background-color:blue;
}

.container{
	max-width: 1000px;
	background-color:white;
}
.logo{
	margin-left: auto;
	display: block;
}

.div1{
	margin-bottom: 20px;
}

.about-title {
  
  text-align: center;
  background-color: #808080;
  color: white;
  padding: 50px;
}
.about-sub {
	text-align: center;
	
}
.container_2{
	padding: 16px;
}

.card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin: 8px;
  width: 100%;
}

.card_col_1 {
  width: 33.3%;
}
.card_col_2 {
	width:33.3%;
}

.marquee {
	margin: 50px;
}

.navibutton1 {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  width: 100%;
}
#navibutton1 {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  width: 100%;
}
.navibutton1:hover{
	background-color: #27c498;
}

#headerrow1{
	background-color: black;
}

#headerrow2{
	background-color: black;
}

.copyright{
	color: white;
	text-align: center;
}
#headerrow3{
	background-color: #30302f;
}
#footertext{
	color: white;
	text-align: center;
}

#productheaders{
	color: white;
	text-align: center;
}

#accessoriesheaders{
	color: white;
	text-align: center;
}

.about-sub{
	color:white;
	text-align: center;
}

.about-title{
	background-color: #30302f;
}

#form_image{
	background-color:#30302f;
}

.form_header{
	text-align:center;
}

.submit{
	background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    width: 100%;
}

.form_header{
	color:white ;
}

.headerrow4{
	color: white;
	background-color: #30302f ;
}

#headerrow5{
	text-align:center ;
	color: white ;
}

#headerrow6{
	background-color: black;
	padding: 10px ;
}

#headerrow7{
	color: white;
	background-color: #30302f ;
}